body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card-img-top {
    height: 250px;
    object-fit: cover;
  }
  
  nav .nav-link:hover {
    text-decoration: underline;
    color: #f8f9fa;
  }
  